/* Utilities - These things get used a lot */

/**
 Hides stuff
 */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/**
 Creates a responsive wrapper that makes our content scale nicely
 */
.inner {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

/**
 Centres vertically yo. (IE8+)
 */
.vertical {
    display: table-cell;
    vertical-align: middle;
}

/**
 Floating tools
 */
 img[src$='#floatleft']
 {
    float:left;
    margin-right: 10px !important;
 }

 img[src$='#floatright']
 {
    float:right;
    margin-left: 10px !important;
 }

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}